footer{
    padding: 40px;
}
.footer-Margin{
margin-top: 7%;
margin-left: 3%;
margin-right: 3%;
}
a{
    text-decoration: none;
}
a:hover{
    color: blue;
}
.Link1{
    margin-top: 35px;
}
.dddd:hover{
    color: blue;
}
